* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
    --theme: #00838f;

    --bg-color: #efefef;
    --text-color: #212121;

    --input-bg-color: #fff;

    --dark-toggle-icon: "☀";
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #212121;
        --text-color: #efefef;

        --input-bg-color: #333;

        --dark-toggle-icon: "🌙";
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 200ms ease, color 200ms ease;
}
.dnone{
    display: none;
}
.row {
    display: flex;
    align-items: center;
}
.row > label {
    justify-self: flex-start;
}
.row > input {
    justify-self: flex-end;
}
.col {
    display: flex;
    flex-direction: column;
}
.col > * + * {
    margin-top: 16px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.row.center,
.col.center {
    justify-content: center;
}
.row.btwn {
    justify-content: space-between;
}
header {
    background-color: var(--theme);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    padding: 0 16px;
}
header span {
    line-height: 3rem;
    color: #fff;
    font-size: 24px;
}
#dark-toggle {
    position: relative;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}
#dark-toggle::after {
    pointer-events: none;
    content: var(--dark-toggle-icon);
    color: transparent;
    text-shadow: 0 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#content {
    padding: 16px;
    position: relative;
}
textarea,
input {
    padding: 4px 8px;
    font-size: 18px;
    background: var(--input-bg-color);
    color: var(--text-color);
    transition: background-color 200ms ease, color 200ms ease;

    border: 1px solid var(--theme);
    border-radius: 0.25rem;
}
textarea::placeholder,
input::placeholder {
    color: var(--text-color);
}
button {
    border: none;
    border-radius: 2px;
    background-color: var(--theme);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 80px;
    text-align: center;
    height: 32px;
    padding: 4px 8px;
    letter-spacing: 0.05em;
}
button:focus {
    background-color: #005662;
}
label {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: 0.1em;
}

#clear-names-btn{
    position: absolute;
    right: 0;
    display: none;
}
#clear-names-btn.show{
    display: block;
}

#results {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 2vw;
    padding-bottom: 10vh;
}
#results .team {
    display: flex;
    flex-flow: row wrap;
    text-transform: capitalize;

    background: var(--input-bg-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    padding: 0.5rem;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.team .player {
    width: 50%;
    padding-left: 1.25rem;
    text-indent: -1.075rem;
    padding-bottom: 0.25rem;
    font-weight: 500;
}
.team .teamname {
    letter-spacing: 0.1px;
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    min-height: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #888;
    margin-bottom: 0.5rem;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
	display: none;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input:checked + .slider {
	background-color: #00838f;
}
input:focus + .slider {
	box-shadow: 0 0 1px #00838f;
}
input:checked + .slider:before {
	transform: translateX(26px);
}

/* DESKTOP */
@media screen and (min-width: 769px) {
    #content {
        max-width: 740px;
        margin: 0 auto;
    }
    #results {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #results.asOrder{
        grid-template-columns: 1fr;
    }
}
